<div>
  <button (click)="playPause()">{{ isPlaying ? 'Pause' : 'Play' }}</button>
  <button (click)="onEnded()">Piste suivante</button>
  <button (click)="goToTime(2)">Go to 2 sec</button>
  <audio #audioPlayer (timeupdate)="onTimeUpdate()" (ended)="onEnded()"></audio>
  <input type="range" [max]="totalDuration" [value]="currentTime" (input)="seek($event)">
  <div>{{ formatTime(currentTime) }} / {{ formatTime(totalDuration) }}</div>

  <span> </span>

  <hr>

  <h1>Daily programs</h1>

  <div>{{ programs[currentProgramIndex]?.radioName || '' }}</div>
  <span>
    {{ programs[currentProgramIndex]?.startTimeHour || '' }}:{{ programs[currentProgramIndex]?.startTimeMinute || '' }}:{{ programs[currentProgramIndex]?.startTimeSeconds || '' }}
  </span>

  <span> </span>

  <hr>

  <h1>Create Program</h1>

  <app-radio-search></app-radio-search>

</div>
